<div class="home">
  <%= render 'layouts/homenav' %>

  <div class="container">
      <div class="hometext col-md-12">
        <br><br><br>
        <h2>My name is Travis Crampton and I'm a Rails Developer in San Francisco</h1>
      </div>
  </div>
</div>

<!-- PROJECTS SECTION -->
<div id="projects" class="wrapper">
  <ul class="cf">
    <div class="project_item">
      <li>
        <div class="gallery_item">
          <a class="fancybox" rel="group3" href="img/ventur.png"><img src="img/ventur.png" title="ventur homepage with featured travel journals." /></a>
        </div>
        <div class="hidden">
          <a class="fancybox" href="img/landing_page_big.png" rel="group3" title="ventur landing page."></a>
          <a class="fancybox" href="img/chapter_big.png" rel="group3" title="Screenshot of a journal chapter."></a>
          <a class="fancybox" href="img/profile_big.png" rel="group3" title="Screenshot of profile page"></a>
        </div>
        <a href="http://ventur.herokuapp.com/" target="blank">
        <div class="wrapper project_overview">
          <div class="name"><h2>ventur</h2><span>alpha</span></div>
          <p>ventur.herokuapp.com</p></a>
          <p>Took concept from idea to design to code. Ventur is a platform for sharing adventure-travel stories with a philanthropic twist - we integrate an affiliate program with outdoor retailers to make raising money for charity as simple as sharing the gear that you brought to make your trip happen.</p>
        <hr>
          <div class="tech">
            <h4>Technology used:</h4>
            <ul>
              <li><p>HTML5</p></li>
              <li><p>CSS3</p></li>
              <li><p>Sass</p></li>
              <li><p>Ruby</p></li>
              <li><p>Rails 4</p></li>
              <li><p>SQL</p></li>
              <li><p>Git</p></li>
              <li><p>JavaScript</p></li>
              <li><p>JQuery</p></li>
            </ul>
          </div>
        </div>
      </li>
    </div>
    <hr class="hr_short">
    <div class="project_item">
      <li>
        <img src="img/sww.png" alt="ventur">
        <div class="wrapper project_overview">
          <a href="http://sunsetwoodworks.com/" target="blank">
            <h2>Sunset Woodworks</h2>
            <p>sunsetwoodworks.com</p>
          </a>
          <p>I built this website for my woodworking/art project using Bootstrap. The page consists of a clean, fully responsive portfolio that showcases the various art pieces.</p>
        <hr>
          <div class="tech">
            <h4>Technology used:</h4>
            <ul>
              <li><p>Bootstap 3</p></li>
              <li><p>CSS3</p></li>
              <li><p>JavaScript</p></li>
              <li><p>PHP</p></li>
              <li><p>JQuery</p></li>
            </ul>
          </div>
        </div>
      </li>
    </div>
    <hr class="hr_short">
    <div class="project_item">
      <li>
        <img src="img/portfolio.jpg" alt="ventur">
        <div class="wrapper project_overview">
          <h2>This very website</h2>
          <p>Hand-coded the HTML, SCSS, AngularJS (for form validation) and PHP on this personal portfolio site using Github for version control.</p>
        <hr>
          <div class="tech">
            <h4>Technology used:</h4>
            <ul>
              <li><p>HTML5</p></li>
              <li><p>CSS3</p></li>
              <li><p>Sass</p></li>
              <li><p>AngularJS</p></li>
              <li><p>JQuery</p></li>
              <li><p>Git</p></li>
            </ul>
          </div>
        </div>
      </li>
    </div>
  </ul>
</div>
