<body class="home">
  <div class="container">
      <div class="hometext col-md-12">
        <br><br><br>
        <h2>My name is Travis Crampton and I'm a Rails Developer in San Francisco</h1>
      </div>
  </div>
</body>
