<div class="home">
  <%= render 'layouts/homenav' %>

  <div class="container">
      <div class="hometext col-md-12">
        <br><br><br>
        <h2>My name is Travis Crampton and I'm a Rails Developer in San Francisco</h1>
      </div>
  </div>
</div>

<!-- PROJECTS SECTION -->
<div id="projects" class="wrapper">
  <ul class="cf">
    <hr class="hr_short">
    <div class="project_item">
      <li>
        <%= image_tag ("gitithome.png"), class:"aboutImage" %>
        <div class="wrapper project_overview">
          <a href="http://sunsetwoodworks.com/" target="blank">
            <h2>Git It International Delivery</h2>
            <p>sunsetwoodworks.com</p>
          </a>
          <p>I built this website for my woodworking/art project using Bootstrap. The page consists of a clean, fully responsive portfolio that showcases the various art pieces.</p>
        <hr>
          <div class="tech">
            <h4>Technology used:</h4>
            <ul>
              <li><p>Bootstap 3</p></li>
              <li><p>CSS3</p></li>
              <li><p>JavaScript</p></li>
              <li><p>PHP</p></li>
              <li><p>JQuery</p></li>
            </ul>
          </div>
        </div>
      </li>
    </div>
    <div class="project_item">
      <li>
        <%= image_tag ("journalsventur.png"), class:"aboutImage" %>
        <div class="wrapper project_overview">
          <a href="http://ventur.herokuapp.com/" target="blank">
            <h2>Ventur</h2>
            <p>sunsetwoodworks.com</p>
          </a>
          <p>I built this website for my woodworking/art project using Bootstrap. The page consists of a clean, fully responsive portfolio that showcases the various art pieces.</p>
        <hr>
        <div class="tech">
          <h4>Technology used:</h4>
          <ul>
            <li><p>HTML5</p></li>
            <li><p>CSS3</p></li>
            <li><p>Sass</p></li>
            <li><p>Ruby</p></li>
            <li><p>Rails 4</p></li>
            <li><p>SQL</p></li>
            <li><p>Git</p></li>
            <li><p>JavaScript</p></li>
            <li><p>JQuery</p></li>
          </ul>
        </div>
        </div>
      </li>
    </div>
    <hr class="hr_short">
    <div class="project_item">
      <li>
        <%= image_tag ("holder.png"), class:"aboutImage" %>
        <div class="wrapper project_overview">
          <h2>Sandy Matthews Wood Working</h2>
          <p>Created a website for a friend of mine who builds tables and other wood items. It allows him to set up is portfolio items as well as items that he sells. And users can get in contact with him about items that they are interested in. </p>
        <hr>
          <div class="tech">
            <h4>Technology used:</h4>
            <ul>
              <li><p>HTML5</p></li>
              <li><p>CSS3</p></li>
              <li><p>Sass</p></li>
              <li><p>AngularJS</p></li>
              <li><p>JQuery</p></li>
              <li><p>Git</p></li>
            </ul>
          </div>
        </div>
      </li>
    </div>
  </ul>
</div>
