 @import "bootstrap-sprockets";
 @import "bootstrap";

html {
  font-family: 'Roboto', sans-serif;
}

.home{
   background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),  url('travCoverPhoto') no-repeat center center fixed;
   background-size: cover;
   color: white;
}

.hometext {
  text-align: center;
  margin-top: 30%;
  margin-left: 5%;
}

a{
  color: white;
}

.goRight h5{
    float: right;
}

.zealandBanner{
  height:35rem;
  overflow: hidden;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('newZealandCover') no-repeat center;
  background-size: cover;
  color: white;
  margin-right: 20%;
}
.olzealand{
  height: 240px;
    h1{
      position: absolute;
      bottom: 0%;
      text-shadow: 1.3px 1.3px #000;
  }
}
.efficient{
  height: 240px;
    p{
      position: absolute;
      margin-right: 10%;
        text-shadow: 1px 1px #000;
    }
}
.topspace{
  margin-top: 2%;
}
.mapimage{
  border-radius: 10px;
}
.jumbotron {
  background-color: #F8F8F8;
}
