 @import "bootstrap-sprockets";
 @import "bootstrap";

html {
  font-family: 'Roboto', sans-serif;
}

.home{
   background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),  url('travCoverPhoto') no-repeat center center fixed;
   background-size: cover;
   color: white;
}

.hometext {
  text-align: center;
  margin-top: 30%;
  margin-left: 5%;
}

a{
  color: white;
}
